html {
  text-align: center;
}
header {
  
}
body {
  width: 100%;
  height: 100%;
  margin: 0;
}
nav {
  padding-left: 10px;
  padding-right: 10px;
  background-color: #c9ffe5;
}
p {
  max-width: 800px;
}
figcaption {
  font-size: 12px;
}
#details {
  display: block;
  float: left;
  max-height: 25%;
  flex-flow: row wrap;
}
div {
  text-align: center;
  background-color: #ffabe6;
}